<!DOCTYPE html>
<html>
<body>
    <form action="/getyourexpense" method="GET">
        <button name="button2">see expenses</button>
      </form>
    <button name="button1">add expenses</button>
</body>
</html>